In [1]:
print("10+20")

10+20

In [2]:
print(10+20)

30

In [9]:
# Examples of variables with different data types
age = 25
height = 5.9
name = 'John'
is_adult = False
fruits = ['apple', 'banana', 'orange']
coordinates = (3, 5)
person = {'name': 'Alice', 'age': 30}
unique_numbers = {1, 2, 3, 4, 5}
result = None



# Printing the data types of the variables
print(type(age))            # <class 'int'>
print(type(height))         # <class 'float'>
print(type(name))           # <class 'str'>
print(type(is_adult))       # <class 'bool'>
print(type(fruits))         # <class 'list'>
print(type(coordinates))    # <class 'tuple'>
print(type(person))         # <class 'dict'>
print(type(unique_numbers)) # <class 'set'>
print(type(result))         # <class 'NoneType'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'NoneType'>